<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="store_logo">
            store logo
        </div>
        <div class="user_info">
            User stuff here
            <!-- create divs here for each thing you want-->
        </div>
        <div class="actions">
            Create ticket, sales, inventory, pending tickets
            <!-- create divs here for each thing you want-->
        </div>
        
        
        
    </body>
</html>